<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/YZI2SGH/Desktop/DCHR/AutomaticTestingTool">
        <classes>
            <class name="ExcelReadTest">
                <methods>
                    <include name="postRequestTest"/>
                    <include name="getRequestTest"/>
                    <include name="deleteRequestTest"/>
                    <include name="putRequestTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>